<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <trace enabled="true" requestLimit="10" pageOutput="false" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<sessionState cookieless="UseUri" cookieName="ASP.NET_SessionID" regenerateExpiredSessionId="true" timeout="20" mode="InProc" />-->
    <sessionState cookieless="UseCookies" cookieName="ASP.NET_SessionID" timeout="20" mode="InProc"></sessionState>
  </system.web>
</configuration>