<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Pubs" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=pubs;Integrated Security=True" />
    <add name="Northwind" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True" />
  </connectionStrings> 
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="cronan" tagName="NinetyDays" src="~/Controls/90days.ascx" />
        <add tagPrefix="cronan" tagName="LinkMenu" src="~/Controls/LinkMenu.ascx"  />
        <add tagPrefix="cronan" tagName="Footer" src="~/Controls/Footer.ascx" />
        <add tagPrefix="cronan" tagName="SiteMenu" src="~/Controls/SiteMenu.ascx" />
      </controls> 
    </pages>
    <trace enabled="true" requestLimit="10" pageOutput="false" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<sessionState cookieless="UseUri" cookieName="ASP.NET_SessionID" regenerateExpiredSessionId="true" timeout="20" mode="InProc" />-->
    <sessionState cookieless="UseCookies" cookieName="ASP.NET_SessionID" timeout="20" mode="InProc"></sessionState>
    <urlMappings enabled="true">
      <add url="~/MappingAndRouting/MapThisURL.aspx" mappedUrl="~/MappingAndRouting/ThisURLIsMapped.aspx?product=car" />
    </urlMappings>
    
    <!--use forms authentication-->
    <authentication mode="Forms">
      <forms name="BeginningASPNET45SecurityCookie" loginUrl="~/Login.aspx" protection="All" />
    </authentication>

    
  </system.web>
</configuration>